body {
  background-color: rgb(250, 202, 246);
  font-family: "Roboto", sans-serif;
}
.App {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.transitionProp {
  transition: transform 0.8s;
}
.transitionProp Image {
  border-radius: 10px;
}

.transitionProp:hover {
  -ms-transform: scale(5); /* IE 9 */
  -webkit-transform: scale(5); /* Safari 3-8 */
  transform: scale(1.1);
}

.css-1iqbypn {
  margin-top: 15 px;
  margin-right: 140 px;
  color: deeppink;
  font-size: 20px;
  border-radius: 50%;
}
